/*Selector{
	Property: value;
}*/

body{
	background-image: url("kupono-kuwamura-508400-unsplash.jpg");
	background-size: cover;/*incadreaza imaginea de fundal*/
}
h2{
	color: red;
}
p {
	color: #AA4139;
	text-align: center;
	border: 5px solid rgba(255, 176, 170, 0.5);
	cursor: pointer; /*schimba modelul cursorului*/
}
p{
	line-height: 50px;
	font-style: italic;
	font-weight: bold;
	font-size: 130%;
	font-family: 'Poiret One', cursive;

}
img{
	float: right;
}
footer{
	clear: both;
	text-align: center;
}
li{
	list-style: none; /*fara puncte*/
	display: inline-block; /*aliniez cele trei pe o singura linie*/
}
.webtext:first-child {
	border: 5px dashed green;
}
.active{
	color: red;
}
#div1{
	background: rgba(0,0,255,0.2);
}
#div2{
	background: rgba(255,0,255,0.2);
}